/* @import "tailwindcss" */



*{
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;

}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
  }

  /* STYLE NAVBAR */

.navbar{
    position: fixed;
    padding: 15px 0 15px 0;
    width: 100%;
    transition: all 0.2s ease ;
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     
     /* border-bottom: 1.5px solid salmon;
     background-color: whitesmoke; */
    z-index: 999;
    animation-name: fadeInDown;
    animation-duration: 1s;

} 


.Navbar.color-active{
    background-color: var(--navbar-color);
    padding: 20px 0 20px 0;
    border-bottom: 2px solid  #dc354638;
    
}

.navbar .nav-link a {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    text-decoration: none;
    color: var(--navbar-color-text);

}

.navbar .nav-link a:hover{
    color: var(--secondary-color);
}

.navbar .nav-link .active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar .nav-link .active:hover{
    color: var(--navbar-color);
}

/* STYLE NAVBAR */

/* STYLE HOMEPAGE HEADER*/

header{
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.homepage .header-box h1{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--color-text);
    --animation-delay:0.6s ;
  }

.homepage .header-box h1 span{
    font-weight: 700;
}

.homepage .header-box p {
    line-height: 2;
    color: var(--color-text);
    font-weight: 500;
    --animation-delay:1s ;

}

.homepage .header-box img{
    width: 100%;
    
}
@media screen and(max-width: 992px){
    .homepage .header-box{
        padding-top: 8rem;
    }

    .homepage .header-box img{
        width: 400px;
        display: block;
        margin-inline: auto;
    }
}


/* PR saya bagaimana caranya h1 tidak nempel pada brand navbar */
@media screen and (max-width:575px){
    .homepage .header-box h1{
        font-size: 3rem;
       
    }   
}

@media screen and(max-width:475px){
    .homepage .header-box p{
        font-size: 14px;
    }
    .homepage .header-box img{
        width: 300px;
    }
    
}

@media screen and(max-width:375px){
    .homepage .header-box h1{
        font-size: 2rem;
    }
    
    .homepage .header-box p{
         font-size: 12px;
    }
}

/* STYLE HOMEPAGE */

/* STYLE HOMEPAGE KELAS */
.homepage .kelas{
    background-color: var(--primary-color);
    padding-bottom: 100px;
}


.homepage .kelas .row:nth-child(1){
    padding-top: 150px;
    padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1) h1,
.homepage .kelas .row:nth-child(1) p{
    color: var(--color-text);
}

.homepage .kelas .row:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-inline: 10;
}


.homepage .kelas .row:nth-child(2){
    background-color: #ffffff;
    padding: 0;
}

.homepage .kelas .row:nth-child(2) img{
    height: 250px;
}

.homepage .kelas .row:nth-child(2) {
    color: gold;

}

.homepage .kelas .row:nth-child(2) h5{
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.5;
}

.homepage .kelas .row:nth-child(3){
    padding-top: 100px;
}

/* STYLE HOMEPAGE KELAS */


 /* STYLE HOMEPAGE TESTIMONIAL */

.homepage .testimonial{
    background-color: var(--primary-color);

}

.homepage .testimonial{
    color: var(--color-text);
}
.homepage .testimonial .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }
  
.homepage .testimonial .swiper-slide {
    text-align: justify;
    font-size: 18px;
    background: #fff;
    padding: 35px;
    cursor:  grab;

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage .testimonial .swiper-slide:active{
    cursor: grabbing;
  }

.homepage .testimonial .swiper-slide .desc{
    color: var(--color-text);
    font-weight: 500;
    line-height: 2;
    margin-bottom: 40px;
}

.homepage .testimonial .swiper-slide .people{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}
.homepage .testimonial .swiper-slide h5,
.homepage .testimonial .swiper-slide p{
    color: var(--color-text);
}

.homepage .testimonial .swiper-slide h5{
    font-weight: 600;
}
.homepage .testimonial .swiper-slide p{
    opacity: 35%;

}

.homepage .testimonial .swiper-slide .people img{
    width: 80px;
    border-radius: 100%;
}

@media screen and (max-width:768px){
.homepage .testimonial .swiper{
    padding-inline: 10px;
}

    .homepage .testimonial .swiper-slide .people{
        justify-content: center;
    }
    
}
  
/* STYLE HOMEPAGE TESTIMONIAL */


/* STYLE FAQ */

.faq{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-color);

}

.faq h2{
    color: var(--color-text);
}

.faq .accordion .accordion-button{
    color: var(--color-text);
    font-weight: bold;
    background-color: #ffffff;
    line-height: 1.5;
    
}

.faq .accordion .accordion-button:focus{
    border: none;
    box-shadow: none;
}

.faq .accordion .accordion-body{
    background-color: #ffffff;
}

/* STYLE HOMEPAGE TESTIMONIAL */

                            /* STYLE KELAS */
.kelas-page .kelas{
    background-color: var(--primary-color);
    padding-bottom: 100px;

}

.kelas-page .kelas .row:nth-child(1){
    padding-top: 200px;
    padding-bottom: 100px;
}

.kelas-page .kelas .row:nth-child(1) h1{
    color: var(--color-text );
    --animation-delay: 0.5s;
}

.kelas-page .kelas .row:nth-child(2) p{
    color: var(--color-text);

}

/* TEST */

.kelas-page .kelas .row:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-inline: 10;
}


.kelas-page .kelas .row:nth-child(2){
    background-color: #ffffff;
    padding: 0;
}

.kelas-page .kelas .row:nth-child(2) img{
    height: 250px;
}

.kelas-page .kelas .row:nth-child(2) {
    color: gold;

}

.kelas-page .kelas .row:nth-child(2) h5{
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.5;
}
/* test testimonial */
.testimonial-page .testimonial .desc{
    color: var(--color-text);
    font-weight: 500;
    line-height: 2;
    margin-bottom: 40px;
}

.testimonial-page .testimonial .people{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}
.testimonial-page .testimonial h5,
.testimonial-page .testimonial p{
    color: var(--color-text);
}

.testimonial-page .testimonial h5{
    font-weight: 600;
}
.testimonial-page .testimonial p{
    opacity: 35%;

}

.testimonial-page .testimonial .people img{
    width: 80px;
    border-radius: 100%;
}
/* test testimonial */

         /* STYLE KELAS */

/* STYLE Testimonial Page */

.testimonial-page{
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 100px;
}

.testimonial-page .testimonial {
    padding-top: 10px;
    padding-bottom: 50px;
}

.testimonial-page .testimonial .row:nth-child(1){
    padding-top: 200px;
    padding-bottom: 100px;
}

.testimonial-page .testimonial .row:nth-child(1)h1{
    color: var(--color-text);

}

.testimonial-page .testimonial .row:nth-child(2)p{
    color: var(--color-text);
}
/* STYLE Testimonial Page */



/* = = = = = = = = = = = = = = =  = = = = = = =  = */

/* Syarat ketentuan */
.syarat-ketentuan{
   color: var(--color-text);
   padding-top: 150px;
   padding-bottom: 100px;
}

.syarat-ketentuan .syarat-ketentuan-page{
    color: var(--color-text);
    padding-top: 100px;
    padding-bottom: 100px;
}

.syarat-ketentuan-page p{
    line-height: 2;
}
/* Syarat ketentuan */

/* STYLE SYARAT KETENTUAN */

/* STYLE SYARAT KETENTUAN */

/* = = = = = = = = = = = = = = =  = = = = = = =  = */
/* STYLE FAQ */

/* STYLE FOOTER */
.footer{
    width: 100vw;
    min-height: 60vh;

    /* max-width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-between; */
    
}


.footer .row:nth-child(1) .col:nth-child(1) h3{
    color: var(--color-text);
}


.footer  .desc{
    color:var(--color-text);
    font-size: 14px;
    line-height: 2;

}

.footer .desk{
     color:var(--color-text);
    font-size: 14px;
    line-height: 2;
    display: grid;
    text-align: justify;
    padding: 10px;
}


.footer .no a,
.footer .mail a{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: black;

    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.footer .no a:hover,
.footer .mail a:hover{
    color: var(--secondary-color);
}


.footer {
    gap: 10px;
}

.footer a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}


.footer  a:hover{
    color: var(--secondary-color);

}


.footer .subscribes {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer .subscribes input{
    width: 200px;
    height: 38px;
    padding: 5px;
}

.footer .social{
    display: flex;
    align-items: center;
    gap: 10px;

}

.footer .social i{
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    

}


.footer .social i:hover{
    color: var(--secondary-color);
}

.footer .col:nth-child(2){
    margin-top: 100px;
}

/* STYLE FOOTER */